<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <node pkg="image_saver" type="image_saver" name="image_saver" output="screen">

    <!-- pos_topic: Name of the topic publishing position data for this quad -->
    <param name="odometry_topic" value="/phoenix/ENU/local_odom"/>

    </node>
</launch>
